/**
 *
 * This is the SCSS File for my project.
 * 
 */
.flexContainer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flexChild {
	background-color: red;
	width: 100px;
	height: 100px;
}



